<ul data-tabs="tabs" class="tabs">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#change_password">Change Password</a></li>
  <li><a href="#settings">Settings</a></li>
  <li data-dropdown="dropdown" class="dropdown">
    <a class="dropdown-toggle" href="#">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a href="#fat">@fat</a></li>
      <li><a href="#mdo">@mdo</a></li>
    </ul>
  </li>
</ul>
<div class="tab-content" id="my-tab-content">
  <div id="home" class="active tab-pane">
    <p>My Dashboard</p>
  </div>
  <div id="profile" class="tab-pane">
    Profile
  </div>
  <div id="change_password" class="tab-pane">
    <%= render partial: "change_password" %>
  </div>
  <div id="settings" class="tab-pane">
    Settings
  </div>
  <div id="fat" class="tab-pane">
    Fat
  </div>
  <div id="mdo" class="tab-pane">
    mdo
  </div>
</div>