<footer>
  <ul>
    <li><a href="/about">About</a><span class="dot"> &middot;</span></li>
    <li><a href="http://uptime.pawdrop.com">Status</a><span class="dot"> &middot;</span></li>
    <li><a href="/tos">Terms</a><span class="dot"> &middot;</span></li>
    <li><a href="/privacy">Privacy</a><span class="dot"> &middot;</span></li>
    <li><span class="copyright">&copy; 2011 Wenhu.com</span></li>
  </ul>
</footer>