<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
    <li class="active">About</li>
  </ul>
<% end %>

<div class="content">
  <h1>About AppStarter</h1>

  <p>AppStarter launched in 2011 with the goal to be the simplest and fastest way to get files from one place to another as well as to share them in any form necessary, whether downloaded or embedded on a webpage.</p>

  <h2>Technology</h2>

  <p>AppStarter was built on a stack of Rails, MongoDB, Backbone.js, Twitter Bootstrap, CoffeeScript, Sass and Compass.</p>
  <p>It is hosted on Heroku and uses Google Storage for file storage resulting in the fast worldwide speed when accessing files.</p>
  <p>Most of the code is open source and available on <a href="https://github.com/kreu/pawdrop">our GitHub repo</a>.</p>
</div>  
