<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
    <li class="active">Contact</li>
  </ul>
<% end %>
<p> Find me in contact.html.erb </p>