<% title "Home" %>
<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>
<% end %>
<div class="hero-unit">
  <p>Your App Starter.</p>
  <p><%= link_to raw("Join Now &raquo;"), signup_path, class: "btn primary large" %></p>
</div>