<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
    <li class="active">Term of Service</li>
  </ul>
<% end %>
<div class="content">
  <h1>Terms of Service</h1>

  <p>Effective August 28, 2011</p>

  <h2><strong>1.</strong> Your Agreement with Pawdrop</h2>

  <p><strong>1.1</strong> Your use of the Pawdrop service is governed by this agreement (the "Terms"). "Pawdrop" means Pawdrop.com, located at Joa 3a-38, Tallinn 10127, Estonia, and its subsidiaries or affiliates involved in providing the Pawdrop Service.  The “Pawdrop Services” means the services Pawdrop makes available through this website, including this website, the Pawdrop file storage, the Pawdrop API, and any other software or services offered by Pawdrop in connection to any of those.</p>

  <p><strong>1.2</strong> In order to use the Pawdrop Services, you must first agree to the Terms. You can agree to the Terms by actually using the Pawdrop Services. You understand and agree that Pawdrop will treat your use of the Pawdrop Services as acceptance of the Terms from that point onwards.</p>

  <p><strong>1.3</strong> You may not use the Pawdrop Services if you are a person barred from receiving the Pawdrop Services under the laws of the European Union or any countries, including the country in which you are resident or from which you use the Pawdrop Services. You affirm that you are over the age of 13, as the Pawdrop Services are not intended for children under 13.</p>

  <p><strong>1.4</strong> You agree your purchases of Pawdrop Services are not contingent on the delivery of any future functionality or features or dependent on any oral or written public comments made by Pawdrop or any of its affiliates regarding future functionality or features.</p>

  <h2><strong>2.</strong> Your Account and Use of the Pawdrop Services</h2>

  <p><strong>2.1</strong> You must provide accurate and complete registration information any time you register to use the Pawdrop Services. You are responsible for the security of your passwords and for any use of your account. If you become aware of any unauthorized use of your password or of your account, you agree to notify Pawdrop immediately.</p>

  <p><strong>2.2</strong> Your use of the Pawdrop Services must comply with all applicable laws, regulations and ordinances, including any laws regarding the export of data or software.</p>

  <p><strong>2.3</strong> You agree not to (a) access (or attempt to access) the administrative interface of the Pawdrop Services by any means other than through the interface that is provided by Pawdrop in connection with the Pawdrop Services, unless you have been specifically allowed to do so in a separate agreement with Pawdrop, or (b) engage in any activity that interferes with or disrupts the Pawdrop Services (or the servers and networks which are connected to the Service).</p>

  <p><strong>2.4</strong> Your account has “hard” and “soft” usage limits, as further <a href="/aup#quota">explained here</a> (or such URL as Pawdrop may provide).  The Pawdrop Services does not permit you to exceed the hard usage limits.  Pawdrop reserves the right to enforce soft usage limits in its sole discretion, which may result in Pawdrop serving a “quota exceeded” page to you or users to whom you serve files via the Pawdrop Services (“End Users”). Repeated exceeding of the hard or soft usage limits may lead to termination of your account.</p>

  <p><strong>2.5</strong> You may use the Pawdrop Services only to host and share files on the Pawdrop infrastructure. You may not access the Pawdrop Services for the purpose of bringing an intellectual property infringement claim against Pawdrop or for the purpose of creating a product or service competitive with the Pawdrop Services.</p>

  <h2><strong>3.</strong> Service Policies and Privacy</h2>

  <p><strong>3.1</strong> You agree to comply with the Pawdrop Acceptable Use Policy available at <a href="/aup">acceptable use policy</a> (the "Acceptable Use Policy") which is incorporated herein by this reference and which may be updated from time to time.</p>

  <p><strong>3.2</strong> The Pawdrop Services shall be subject to the privacy policy for the Pawdrop Services available at <a href="/privacy">privacy policy</a>. You agree to the use of your data in accordance with Pawdrop's privacy policies.</p>

  <h2><strong>4.</strong> Fees for Use of the Pawdrop Services</h2>

  <p><strong>4.1</strong> Subject to the Terms, the Pawdrop Services is provided to you without charge up to certain limits. Usage over this limit requires your purchase of additional resources or services. The pricing for additional resources  and services can be found at <a href="/pricing">(pricing)</a> (or such URL as Pawdrop may provide).</p>

  <p><strong>4.2</strong> For all purchased resources and services, we will charge your credit card on a monthly basis or at the interval indicated in Pawdrop fees and payment policies, if different. Late payments may bear interest at the rate of 1.5% per month (or the highest rate permitted by law, if less). Charges are exclusive of taxes. You are responsible for paying all taxes and government charges, and all reasonable expenses and attorneys fees Pawdrop incurs collecting late amounts. To the fullest extent permitted by law, you waive all claims relating to charges unless claimed within 60 days after the charge (this does not affect your credit card issuer rights). Charges are solely based on Pawdrop's measurements of your use of the Pawdrop Services, unless otherwise agreed to in writing. To the fullest extent permitted by law, refunds (if any) are at the discretion of Pawdrop and only in the form of credit for the Pawdrop Services. Nothing in these Terms obligates Pawdrop to extend credit to any party. You acknowledge and agree that any credit card and related billing and payment information that you provide to Pawdrop may be shared by Pawdrop with companies who work on Pawdrop's behalf, such as payment processors and/or credit agencies, solely for the purposes of checking credit, effecting payment to Pawdrop and servicing your account. Pawdrop may also provide information in response to valid legal process, such as subpoenas, search warrants and court orders, or to establish or exercise its legal rights or defend against legal claims. Pawdrop shall not be liable for any use or disclosure of such information by such third parties. Pawdrop reserves the right to discontinue the provision of the Pawdrop Services to you for any late payments.</p>

  <p><strong>4.3</strong> Pawdrop may change its fees and payment policies for the Pawdrop Services by notifying you at least fifteen (15) days before the beginning of the billing cycle in which such change will take effect. Changes to the fees or payment policies will be posted on the website (or such other URL Pawdrop may provide from time to time). Any outstanding balance becomes immediately due and payable upon termination of the Terms for any reason.</p>

  <h2><strong>5.</strong> Content on the Pawdrop Services and Take Down Obligations</h2>

  <p><strong>5.1</strong> You understand that all information (such as data files, written text, computer software, music, audio files or other sounds, photographs, videos or other images) to which you may have access as part of, or through your use of, the Pawdrop Services are the sole responsibility of the person from which such content originated. All such information is referred to below as the "Content.".</p>

  <p><strong>5.2</strong> Pawdrop reserves the right (but shall have no obligation) to remove any or all Content from the Pawdrop Services. You agree to immediately take down any Content that violates the Acceptable Use Policy, including pursuant to a take down request from Pawdrop. In the event that you elect not to comply with a request from Pawdrop to take down certain Content, Pawdrop reserves the right to directly take down such Content.</p>

  <p><strong>5.3</strong> You agree that you are solely responsible for (and that Pawdrop has no responsibility to you or to any third party for) any Content that you create, transmit or display while using the Pawdrop Services and for the consequences of your actions (including any loss or damage which Pawdrop may suffer) by doing so.</p>

  <p><strong>5.4</strong> You agree that Pawdrop has no responsibility or liability for the deletion or failure to store any Content and other communications maintained or transmitted through use of the Service. You further acknowledge that you are solely responsible for securing and backing up your Content.</p>

  <h2><strong>6.</strong> Proprietary Rights</h2>

  <p><strong>6.1</strong> You acknowledge and agree that Pawdrop (or Pawdrop's licensors) own all legal right, title and interest in and to the Pawdrop Services, including any intellectual property rights which subsist in the Pawdrop Services (whether those rights happen to be registered or not, and wherever in the world those rights may exist).</p>

  <p><strong>6.2</strong> Except as provided in Section 8, Pawdrop acknowledges and agrees that it obtains no right, title or interest from you (or your licensors) under these Terms in or to any Content that you create, submit, post, transmit or display on, or through, the Pawdrop Services, including any intellectual property rights which subsist in that Content (whether those rights happen to be registered or not, and wherever in the world those rights may exist). Unless you have agreed otherwise in writing with Pawdrop, you agree that you are responsible for protecting and enforcing those rights and that Pawdrop has no obligation to do so on your behalf.</p>

  <h2><strong>7.</strong> License from Pawdrop and Restrictions</h2>

  <p><strong>7.1</strong> Pawdrop gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Pawdrop as part of the Pawdrop Services as provided to you by Pawdrop. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Pawdrop Services as provided by Pawdrop, in the manner permitted by the Terms.</p>

  <p><strong>7.2</strong> You may not (and you may not permit anyone else to): (a) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Pawdrop Services or any part thereof, unless this is expressly permitted or required by law, or unless you have been specifically told that you may do so by Pawdrop, in writing (e.g., through an open source software license); or (b) attempt to disable or circumvent any security mechanisms used by the Pawdrop Services.</p>

  <p><strong>7.3</strong> Open source software licenses for components of the Pawdrop Services released under an open source license constitute separate written agreements. To the limited extent that the open source software licenses expressly supersede these Terms, the open source licenses govern your agreement with Pawdrop for the use of the components of the Pawdrop Services released under an open source license.</p>

  <h2><strong>8.</strong> License from You</h2>

  <p><strong>8.1</strong> Pawdrop claims no ownership or control over any Content. You retain copyright and any other rights you already hold in the Content, and you are responsible for protecting those rights, as appropriate. By submitting, posting or displaying the Content on or through the Pawdrop Services you give Pawdrop a worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute such Content for the sole purpose of enabling Pawdrop to provide you with the Pawdrop Services. Furthermore, by providing any Content through use of the Pawdrop Services, you give Pawdrop a worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute such Content for the sole purpose of enabling Pawdrop to provide you with the Pawdrop Services.</p>

  <p><strong>8.2</strong> By adding a collaborator to your Content, you hereby grant to that user a non-exclusive, royalty-free, non-transferable license, with no right to sub-license, to use, display, perform, reproduce, modify, publish, distribute, list information regarding, edit, translate and analyze such Content as permitted by the relevant Pawdrop Services functionality or features for the sole purpose of collaborating on the Content.</p>

  <p><strong>8.3</strong> You may choose to or we may invite you to submit comments or ideas about the Pawdrop Services, including without limitation about how to improve the Pawdrop Services or our products (“Ideas”).  By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Pawdrop under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone.</p>

  <p><strong>8.4</strong> You agree that Pawdrop, in its sole discretion, may use your trade names, trademarks, service marks, logos, domain names and other distinctive brand features in presentations, marketing materials, customer lists, financial reports and Web site listings (including links to your website) for the purpose of advertising or publicizing your use of the Pawdrop Services.</p>

  <h2><strong>9.</strong> Recommendations</h2>

  <p><strong>9.1</strong> Pawdrop may, and you grant us permission to, make recommendations via the Pawdrop Services for products or services we think may be of interest to you based on your Content, and/or use of the Pawdrop Services.</p>

  <h2><strong>10.</strong> Modification and Termination of the Pawdrop Services</h2>

  <p><strong>10.1</strong> Pawdrop is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Pawdrop Services which Pawdrop provides may change from time to time without prior notice to you, subject to the terms in Section 4.3. Changes to the form and nature of the Pawdrop Services will be effective with respect to all versions of the Pawdrop Services; examples of changes to the form and nature of the Pawdrop Services include without limitation changes to fee and payment policies, security patches, added functionality, and other enhancements.</p>

  <p><strong>10.2</strong> You may terminate these Terms at any time by canceling your account on the Pawdrop Services.  You will not receive any refunds if you cancel your account.</p>

  <p><strong>10.3</strong> You agree that Pawdrop, in its sole discretion and for any or no reason, may terminate your account or any part thereof. You agree that any termination of your access to the Pawdrop Services may be without prior notice, and you agree that Pawdrop will not be liable to you or any third party for such termination.</p>

  <p><strong>10.4</strong> You are solely responsible for exporting your Content from the Pawdrop Services prior to termination of your account for any reason, provided that if we terminate your account, we will provide you a reasonable opportunity to retrieve your Content.</p>

  <p><strong>10.5</strong> Upon any termination of the Pawdrop Services or your account these Terms will also terminate, but Sections 6.1, 10, 11, 12, 13, and 17 shall continue to be effective after these Terms are terminated.</p>

  <h2><strong>11.</strong> EXCLUSION OF WARRANTIES</h2>

  <p><strong>11.1</strong> NOTHING IN THESE TERMS, INCLUDING SECTIONS 11 AND 12, SHALL EXCLUDE OR LIMIT PAWDROP'S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW.</p>

  <p><strong>11.2</strong> YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE HEROKU SERVICE IS AT YOUR SOLE RISK AND THAT THE PAWDROP SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE."</p>

  <p><strong>11.3</strong> PAWDROP, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS MAKE NO EXPRESS WARRANTIES AND DISCLAIM ALL IMPLIED WARRANTIES REGARDING THE PAWDROP SERVICES, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, PAWDROP, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT: (A) YOUR USE OF THE PAWDROP SERVICES WILL MEET YOUR REQUIREMENTS, (B) YOUR USE OF THE PAWDROP SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR, AND (C) USAGE DATA PROVIDED THROUGH THE PAWDROP SERVICES WILL BE ACCURATE.</p>

  <h2><strong>12.</strong> LIMITATION OF LIABILITY</h2>

  <p><strong>12.1</strong> SUBJECT TO SECTION 11.1 ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT PAWDROP, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS.</p>

  <p><strong>12.2</strong> THE LIMITATIONS ON PAWDROP'S LIABILITY TO YOU IN PARAGRAPH 12.1 ABOVE SHALL APPLY WHETHER OR NOT PAWDROP HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</p>

  <h2><strong>13.</strong> Indemnification</h2>

  <p><strong>13.1</strong> You agree to hold harmless and indemnify Pawdrop, and its subsidiaries, affiliates, officers, agents, employees, advertisers, licensors, suppliers or partners (collectively "Pawdrop and Partners") from and against any third party claim arising from or in any way related to (a) your breach of the Terms, (b) your use of the Pawdrop Services, (c) your violation of applicable laws, rules or regulations in connection with the Pawdrop Services, or (d) your Content, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature. In such a case, Pawdrop will provide you with written notice of such claim, suit or action.</p>

  <h2><strong>14.</strong> Copyright Policy</h2>

  <p><strong>14.1</strong> You agree to set up a process to respond to notices of alleged infringement that comply with the United States' Digital Millennium Copyright Act ("DMCA notices"). It is Pawdrop's policy to respond to DMCA notices or other applicable copyright laws and to terminate the accounts of repeat infringers. We reserve the right to take down content provided by you upon receipt of a valid DMCA notice. For more information, please go to <a href="/dmca">http://pawdrop.com/dmca</a>.</p>

  <h2><strong>15.</strong> Other Content</h2>

  <p><strong>15.1</strong> The Pawdrop Services may include hyperlinks to other web sites or content or resources or email content. Pawdrop may have no control over any web sites or resources which are provided by companies or persons other than Pawdrop.</p>

  <p><strong>15.2</strong> You acknowledge and agree that Pawdrop is not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such web sites or resources.</p>

  <p><strong>15.3</strong> You acknowledge and agree that Pawdrop is not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such web sites or resources.</p>

  <h2><strong>16.</strong> Changes to the Terms</h2>

  <p><strong>16.1</strong> Pawdrop may make changes to the Terms from time to time. If we change the Terms in any substantive way, we will give you at least seven (7) days notice  before the changes take effect, during which period of time you may reject the changes by terminating your account.</p>

  <p><strong>16.2</strong> You understand and agree that if you use the Pawdrop Services after the date on which the Terms have changed, Pawdrop will treat your use as acceptance of the updated Terms.</p>

  <h2><strong>17.</strong> General Legal Terms</h2>

  <p><strong>17.1</strong> The Terms constitute the whole legal agreement between you and Pawdrop and govern your use of the Pawdrop Services (but excluding any services which Pawdrop may provide to you under a separate written agreement), and completely replace any prior agreements between you and Pawdrop in relation to the Pawdrop Services.</p>

  <p><strong>17.2</strong> There are no third party beneficiaries to these Terms. The parties are independent contractors, and nothing in these Terms creates an agency, partnership or joint venture.</p>

  <p><strong>17.3</strong> If Pawdrop provides you with a translation of the English language version of these Terms, the English language version of these Terms will control if there is any conflict.</p>

  <p><strong>17.4</strong> You agree that Pawdrop may provide you with notices, including those regarding changes to the Terms, by email, regular mail, or postings on the Pawdrop Services.  By providing Pawdrop your email address, you consent to our using the email address to send you any notices required by law in lieu of communication by postal mail.</p>

  <p><strong>17.5</strong> You agree that if Pawdrop does not exercise or enforce any legal right or remedy which is contained in the Terms (or which Pawdrop has the benefit of under any applicable law), this will not be taken to be a formal waiver of Pawdrop's rights and that those rights or remedies will still be available to Pawdrop.</p>

  <p><strong>17.6</strong> Pawdrop shall not be liable for failing or delaying performance of its obligations resulting from any condition beyond its reasonable control, including but not limited to, governmental action, acts of terrorism, earthquake, fire, flood or other acts of God, labor conditions, power failures, and Internet disturbances.</p>

  <p><strong>17.7</strong> The Terms, and your relationship with Pawdrop under the Terms, shall be governed by the laws of the Republic of Estonia without regard to its conflict of laws provisions. You and Pawdrop agree to submit to the exclusive jurisdiction of the courts located within the city of Tallinn, Estonia to resolve any legal matter arising from the Terms.</p>

  <p><strong>17.8</strong> Neither party may assign any of its rights or obligations under these Terms, whether by operation of law or otherwise, without the prior written consent of the other party (not to be unreasonably withheld).  Notwithstanding the foregoing, either party may assign the entirety of its rights and obligations under these Terms, without consent of the other party, to its affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of its assets not involving a direct competitor of the other party.  A party’s sole remedy for any purported assignment by the other party in breach of this paragraph shall be, at the non-assigning party’s election, termination of your use of the Pawdrop Services upon written notice to the assigning party.</p>

  <div class="footnote">This document is an adaptation of the <a href="http://code.google.com/appengine/terms.html">Google App Engine Terms of Service</a>.  The original work has been modified.  Google, Inc. is not connected with and does not sponsor or endorse Pawdrop or its use of the work.</div>
</div>  

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Terms</li>
</ul>